body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("images/vec.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: text-shadow 0.3s ease-in-out;
}

nav ul li a.glow:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

section:hover {
    box-shadow: 0 0 20px #1621ea;
}

h2 {
    color: #333;
}

footer {
   
    text-align: center;
    padding: 0px 1;
    position: absolute;
    width: 100%;
    bottom: 0;
}